.home-container {
    text-align: center;
    padding: 2rem;
    background-color: #f8f9fa;
  }
  
  .home-title {
    font-size: 2.5rem;
    color: #343a40;
    margin-bottom: 1rem;
  }
  
  .home-description {
    font-size: 1.2rem;
    color: #6c757d;
    margin-bottom: 2rem;
  }
  
  .home-button-container {
    margin-top: 2rem;
  }
  
  .home-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    background-color: #007bff;
    color: white;
    transition: background-color 0.3s ease;
  }
  
  .home-button:hover {
    background-color: #0056b3;
  }
  